@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

.app {
  font: var(--font-m);
  background-color: var(--bg-primary);
  color: var(--color-primary);

  min-height: 100vh;
}

main {
  display: flex;
}

.page-content {
  padding: 20px;
  flex: 1;
}